.card{
   background-color: $table-user-color;
   padding: 20px 0px;
   .card-img{
      img{
         width: 70px;
         margin-right: -10px;

         .img-center{
            margin-top: -10px;
         }
      }
   }
}