@import '_variables.scss';
@import '_mixins';
@import '_table.scss';
@import 'card.scss';

body{
   background-color: #015F00;
}
.app {
   display: flex;
   flex-flow: row wrap;
   font-weight: bold;
   text-align: center;
   justify-content: center;
   align-items: center;
   height: 90vh;
}

.app > * {
   padding: 10px;
   flex: 1 100%;
}

.card-top{
   display: flex;
   justify-content: center;
}

.footer {
   background: lightgreen;
}

.main {
   text-align: left;
   background: deepskyblue;
}

.aside-1 {
   background: gold;
}

.aside-2 {
   background: hotpink;
}

@media all and (min-width: 600px) {
   .aside {
      flex: 1 0 0;
   }
}

@media all and (min-width: 800px) {
   .main {
      flex: 3 0px;
   }
   .aside-1 {
      order: 1;
   }
   .main {
      order: 2;
   }
   .aside-2 {
      order: 3;
   }
   .footer {
      order: 4;
   }
}
