@import '_variables.scss';
@import '_mixins';
@import '_table.scss';
@import 'card.scss';

body{
   background-color: $main-color;
}
.app {
   display: flex;
   flex-flow: row wrap;
   font-weight: bold;
   text-align: center;
   justify-content: center;
   align-items: center;
   height: 90vh;
}

.app > * {
   padding: 10px;
   flex: 1 100%;
}

.card-top{
   display: flex;
   justify-content: center;
}

.card-bottom {
   order: 4;
   display: flex;
   justify-content: center;
}

.card-right{
   order: 1;
   flex: 1 0 0;
}

.card-left{
   order: 3;
   flex: 1 0 0;
}

