$main-color:#015F00;
$table-user-color:#DEB986;

// button
$button-deck:#673299;
$button-shuffle:#008101;
$button-draw: #FFBF18;
$button-reveal:#262627;
$button-reset:#dd142f;

// text
$text-color-button: #fff;
$text-color-user: #002C31;
$boder-line-color:#DFE8DE;